env/
linuxenv/
__pycache__
.vscode/
.idea/
presound/*
downloads/*
songs/*
sounds/*
words/*
sound_list.txt
playlists.json
sounds.json
cookies.txt
cookies.sqlite
*.dll
*.exp
*.lib
*.obj
*.exe
dual_device.wav